h1{
	color:white;
	font-size: 40px;text-align:center; 
}
img{
	 margin-left: 500px;
}
p{color:white;
	text-align: center;
}
nav{color:white;
	text-align: center;
}
li{color:white;
	text-align: left;
}
ol{color:white;
	text-align: center
}
a{color:white;
}
