img{
	 margin-left: 250px;
	}
body{
	background-color: #000000;
}
h1{
	
	font-size: 40px;
	color: white;
	font-family: courier;
}
 h2{font-size: 40px;
	color: white;
	font-family: courier;
}
  h3{font-size: 40px;
	color: white;
	font-family: courier;
}
   h4{font-size: 40px;
	color: white;
	font-family: courier;
} 
    h5
{font-size: 40px;
	color: white;
	font-family: courier;
}
p
{
	color: white;
	text-align: center;
	font-family: impact;
	font-size: 20px;
}

